@import "tailwindcss";
@source "../views";
/*@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400..700;1,400..700&display=swap");*/

@theme {
    /* color */
    --color-bs-white: hsl(0, 0%, 100%);
    --color-bs-black: hsl(0, 0%, 100%);
    --color-bs-yellow: hsl(50, 100%, 50%);

    --color-bs-blue-100: hsl(216, 100%, 97.1%);
    --color-bs-blue-150: hsl(215, 100%, 92%);
    --color-bs-blue-200: hsl(215, 100%, 87.1%);
    --color-bs-blue-300: hsl(216, 100%, 77.1%);
    --color-bs-blue-400: hsl(216, 100%, 67.1%);
    --color-bs-blue-500: hsl(216, 100%, 57.1%);
    --color-bs-blue-600: hsl(216, 100%, 47.1%);
    --color-bs-blue-700: hsl(216, 100%, 36.7%);
    --color-bs-blue-800: hsl(216, 100%, 27.1%);
    --color-bs-blue-900: hsl(216, 100%, 17.1%);
    --color-bs-blue-950: hsl(215, 100%, 12%);
    --color-bs-blue-1000: hsl(215, 100%, 7.1%);

    --color-bs-grey-150: hsl(0, 0%, 94.9%);
    --color-bs-grey-200: hsl(0, 0%, 90.2%);
    --color-bs-grey-300: hsl(0, 0%, 80%);
    --color-bs-grey-400: hsl(0, 0%, 70.2%);
    --color-bs-grey-500: hsl(0, 0%, 60%);
    --color-bs-grey-600: hsl(0, 0%, 50.2%);
    --color-bs-grey-700: hsl(0, 0%, 40%);
    --color-bs-grey-800: hsl(0, 0%, 30.2%);
    --color-bs-grey-900: hsl(0, 0%, 20%);
    --color-bs-grey-1000: hsl(0, 0%, 10.2%);

    /* font-size */
    --text-small: 0.875rem;
    --text-body: 1rem;
    --text-h5: 1.15rem;
    --text-h4: 1.3rem;
    --text-h3: 1.65rem;
    --text-h2: 2.3rem;
    --text-h1: 3.75rem;
    --text-h1-mobile: 2.5rem;

    /* line-height*/
    --leading-very-tight: 1.05;
    --leading-120: 120%;

    /* border-radius */
    --radius-sm: 0.5rem;
    --radius-lg: 1rem;

    /* breakpoints */
    --breakpoint-sm: 26rem;
    --breakpoint-md: 35rem;
    --breakpoint-lg: 52rem;
    --breakpoint-nav: 75rem;

    /* grid-template-columns */
    --grid-rows-showcase-grid: repeat(5, 25vw);

    /* max-width */
    --spacing-content: 68.75rem;
    --spacing-article: 45rem;
}

@layer base {
    * {
        font-family: "Plus Jakarta Sans", sans-serif;
        scroll-behavior: smooth;
    }
    h1, .h1 {
        @apply sm:text-h1 text-h1-mobile font-bold text-bs-blue-900 tracking-[-0.12rem] leading-very-tight mb-5;
    }
    h2, .h2 {
        @apply text-h2 font-semibold text-bs-blue-900 tracking-normal leading-snug mb-3 mt-2;
    }
    h3, .h3 {
        @apply text-h3 font-semibold text-bs-blue-900 tracking-normal leading-snug mb-3 mt-2;
    }
    h4, .h4 {
        @apply text-h4 font-semibold text-bs-blue-900 tracking-normal leading-snug mb-1.5 mt-2;
    }
    h5, .h5 {
        @apply text-h5 font-semibold text-bs-blue-900 tracking-[-0.04rem] leading-snug mb-1.5 mt-1.5;
    }
    p, ul, li, a,
    .p {
        @apply text-body text-bs-grey-900 leading-normal mb-3;
    }
    a {
        @apply text-bs-blue-700 hover:text-bs-blue-600 active:text-bs-blue-800 visited:text-bs-blue-800 underline font-semibold motion-safe:transition-colors;
    }
    li {
        @apply ml-8 mb-0;
    }
    ul li {
        @apply list-disc;
    }
    ol li {
        @apply list-decimal;
    }
    small, .small {
        @apply text-small text-bs-black;
    }
    body, html {
        @apply max-w-full w-[100vw];
    }
    nav li {
        @apply list-none ml-0;
    }
    header * {
        @apply text-bs-white;
    }
    figcaption {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0%) 54%, rgba(0, 0, 0, 60%) 100%);
    }
    section, .section {
        @apply lg:py-20 md:py-24 py-12 lg:px-12 md:px-8 px-4 max-w-full;
    }
    table {
        @apply rounded-sm overflow-clip mt-4 mb-6;
    }
    table.first-cell-highlight tr > td:first-of-type {
        @apply font-semibold;
    }
    tr, th, td {
        @apply text-center md:py-4 md:px-6 p-3;
    }
    tr:first-of-type th {
        @apply bg-bs-blue-700 text-bs-white font-semibold;
    }
    tr:nth-of-type(n) {
        @apply bg-bs-blue-150;
    }
    tr:nth-of-type(2n) {
        @apply bg-bs-blue-100;
    }
    hr {
        @apply my-6;
    }
    blockquote {
        @apply p-8 mt-4 mb-6 bg-bs-blue-100 rounded-lg text-bs-blue-900
        /* before:content-["„"] before:block before:text-bs-blue-600 before:font-bold before:text-h3 before:not-italic */
        /* after:content-["”"] after:block after:text-bs-blue-600 after:font-bold after:text-right after:text-h3 after:not-italic; */;
    }
    img {
        @apply rounded-lg;
    }
    ::selection {
        @apply bg-bs-yellow/40;
    }
    address {
        font-style: unset;
    }

    footer {
        h2,
        h3,
        h4,
        h5,
        b,
        strong {
            @apply text-bs-grey-300;
        }
        b,
        p,
        a {
            @apply text-bs-grey-300;
        }
        p {
            @apply mb-0;
        }
        a {
            @apply text-bs-grey-300 hover:text-bs-grey-150 active:text-bs-grey-400 visited:text-bs-grey-300 no-underline font-normal mb-0;
        }
    }
    .sluzba {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: fit-content;
        min-width: 300px;
        height: fit-content;
    }
    .cenik-element:nth-child(even) {
        background-color: var(--color-bs-blue-200);
    }
    .cenik-element h2 {
        text-align: center
    }
}
@layer components {

}
@layer utilities {
    .max-width-container {
        @apply max-w-content mx-auto;
    }
    .max-width-blog-container {
        @apply max-w-article mx-auto;
    }
}


/*
    .dropdown::after {
        content: url(/public/assets/ico-dropdown.svg);
        @apply inline-block w-2.5 pl-2 relative bottom-0.5;
    }

    #hero::before {
        content: "";
        background: linear-gradient(132.498deg, rgba(19, 19, 19, 72%) 62%, rgba(19, 19, 19, 42%) 89%, rgba(19, 19, 19, 0%) 100%);

        @apply block absolute top-0 left-0 pointer-events-none w-full h-full z-[1];
    }
    #hero::after {
        content: url(/public/assets/wave.svg);
        width: 100%;
        @apply w-full h-auto block absolute bottom-[-0.44rem] left-0 z-[2];
    }
    .icon-link-arrow::after {
        content: "⟶";
        text-decoration: none;
        transition: padding 150ms ease-in-out;
        @apply pl-1 inline-block;
    }
    .icon-link-arrow:hover::after {
        @apply pl-2;
    }
    .icon-external-link {
        @apply flex content-start;
    }
    .icon-external-link::after {
        content: url(/public/assets/ico-link-external.svg);
        @apply pl-[0.15rem] leading-[0.75rem] top-0 right-0;
    }
    .icon-faq::after {
        content: url(/public/assets/ico-open-right.svg);
        @apply inline-block absolute h-auto right-4 top-[0.885rem] rotate-0 transition-all;
    }
    input[type="checkbox"]:checked + label.icon-faq::after {
        @apply rotate-90 right-5 top-3;
    }
    .icon-tel::before {
        content: url(/public/assets/ico-call.svg);
        @apply mr-2 relative top-0.5;
    }
    .icon-mail::before {
        content: url(/public/assets/ico-mail.svg);
        @apply mr-2 relative top-0.5;
    }
*/
